.banner {
  height: 50vh;
  background: linear-gradient(
      -225deg,
      rgba(0, 101, 168, 0.8) 0%,
      rgba(0, 36, 61, 0.6) 50%
    ),
    url("https://unsplash.it/300/200/?random");
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner h1 {
  font-size: 50px;
  font-weight: bolder;
}
.banner p {
  font-size: 30px;
  font-weight: lighter;
}
