.alexis-main-container-password {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem;
}

.alexis-password-form-container {
  background: linear-gradient(to right, #010234, #3F1964);
  color: white;
  width: 300px;
  border-radius: 20px;

  h2 {
    text-align: center;
    margin: 20px;
  }

  .form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-actions input {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px;
    transition: 0.2s ease-in-out;
  }

  .form-actions input:hover {
    background-color: white;
    color: black;
  }

}

.alexis-password-form-container .form-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.alexis-password-bonus-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: white;
    margin: 20px;
  }

  a:hover {
    border-bottom: 1px solid white;
  }
}
