<% @list.shotguns.first(@list.places).each do |shotgun| %>
  <p><i class="fas fa-check winner"></i>   <%= shotgun.user_id.nil? ? "Guest User" : shotgun.user.username %></p>
<% end %>

<% if @list.shotguns.count > @list.places %>
  <% @list.shotguns.drop(@list.places).each do |shotgun| %>
    <p><i class="fas fa-hourglass-half waitlist"></i>   <%= shotgun.user_id.nil? ? "Guest User" : shotgun.user.username %></p>
  <% end %>
<% end %>
