body{
    width: 1000px;
    margin: auto;
}
table,td,th{
    border: 1px solid #000;
    border-collapse: collapse; /*separate par defaut*/
    border-spacing: 10px;
}
td,th{
    padding: 10px;
}
th{
    font-size: 30px;
}
td{
    text-align: center;
}

        