
.card{
    color: var(--clr-neutral-100);
    background-image: url(../../img/fish.jpg);
    background-size: 25em 25em;
    background-position-y: -5em;
    background-position-x: -3em;
    padding: 8rem 0 0 ;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 35em;
    height: 25em;
}

.card-content{
  padding: 1.5em;
  background: linear-gradient(
    hsl(0 0% 0% / 0),hsl(0 0% 0% / 0.9)
  );
  border-radius: 0.5rem;
}

.card-title{
  position: relative;
  width: max-content;
  margin-top: 2.3em;
}

.card-title::after{
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: var(--clr-accent-400);
}

.card-body{
  font-size: 0.8em;
}