<div class="home-main-container">
  <div class="home-body-container">
    <div class="home-title">
      <h1>FAQs</h1>
      <h2 class= "question-title">What is a public list?</h2>
    </div>
    <div class="home-text">
      <p>A public list will appear in the Public tab of Shotgunz and therefore be available to any Shotgunner. A private list is only visible to those that reach it through its link!</p>
    </div>
    <div class="home-text question-title">
      <h2 class= "question-title">Is there an issue with timezones?</h2>
    </div>
    <div class="home-text">
      <p>At the moment, the app is set on the Central European Timezone. We are working to allow you to set dates from anywhere. Please keep it in mind when creating and bear with us while we further develop the app!</p>
    </div>
    <div class="home-text question-title">
      <h2 class= "question-title">What are emails for?</h2>
    </div>
    <div class="home-text">
      <p>The emails are necessary to allow you to login and keep track of the lists you've participated in! This information is not available to other users and we've made list chats in order to avoid spamming your inbox!</p>
    </div>
    <div class="home-text question-title">
      <h2 class= "question-title">Who can access a list's chat?</h2>
    </div>
    <div class="home-text">
      <p>When a list is active, that is shotgunnable, anyone who shotgunned. Once it closes, only the winners!</p>
    </div>

    <div class="home-title" id="CTA-FAQ">
      <h4>Have another <b>question</b>? Get in touch with us through our feedback form on the left!</h4>
    </div>
    <%= link_to root_path do %>
      <div class="shotgun-cta">
        <h3>Go to homepage</h3>
      </div>
      <% end %>
  </div>
</div>
