// Specific CSS for your home-page
* {
  font-family: 'Gilroy-Medium';
}

body {
  background: linear-gradient(115deg, #FA74C2, #FDD999);
  background-attachment: fixed;
}




a {
  text-decoration: none;
}

// MAIN CONTAINER
.home-main-container {
  // background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 91vh;
}

// BODY CONTAINER
.home-body-container {
  margin-top: 10px;
  // background-color: red;
  width: 95%;
  max-width: 400px;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Gilroy-Heavy';
  text-decoration: none;
}

// BODY
.home-title {
  // background-color: yellowgreen;
  width: 85%;
  max-width: 400px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-title h1 {
  margin-bottom: 0;
  color: white;
  font-family: 'Gilroy-Heavy';
  font-size: 30px;
}

.home-text {
  // background-color: rgb(230, 36, 210);
  width: 85%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
}

.home-text p {
  margin-bottom: 0;
  color: white;
  font-size: 18px;
  font-family: 'Gilroy-Medium';
}

// GIVE IT A SHOT CTA
.give-it-a-shot-cta {
  // background-color: purple;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.cta-text {
  // background-color: blue;
  width: auto;
  height: auto;
  color: white;
  font-family: 'Gilroy-Heavy';
  font-size: 15px;
}

.cta-btn {
  background-color: white;
  width: 26px;
  height: 23px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  .fas.fa-chevron-right {
    color: #DC4596;
  }
}

//SHOTGUN CTA
.shotgun-cta {
  background-color: #BB11B0;
  width: 284px;
  height: 50px;
  border-radius: 21px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px #F48DF0;
  input,
  h3,
  a {
    background-color: transparent;
    margin-bottom: 0;
    font-family: 'Gilroy-HeavyItalic';
    font-size: 26px;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: white;
    border: none;
    padding: 0;
    color: transparent;
  }
}

.shotgun-cta:hover {
  color: transparent;
}

// QR Code

.Arti-QR {
  display: flex;
  justify-content: center;
  position: relative;
}

.qr-code-logo {
  position: absolute;
  width: 20%;
  top: 40%;
}

@media screen and (min-width: 768px) {
  .qr-code-logo {
    top: 35%;
    width: 15%;
  }
}

@media screen and (min-width: 1024px) {
  .qr-code-logo {
    top: 30%;
    width: 12%;
  }
}

@media screen and (min-width: 1440px) {
  .qr-code-logo {
    top: 30%;
    width: 10%;
  }
}

@media screen and (max-width: 320px) {
  .Arti-QR {
    padding-top: 140px;
  }
  .qr-code-logo {
    top: 55%;
    width: 20%;
  }
}
