.container.test{
    background-color: yellow;
    width: 100%;
    font-size: 30px;
    text-align: center;
}
.container.test p{
    color: blue;
    border: solid 1px blue;
    transition-property: all;
    transition-duration: 1000ms;
}

.container.test p:hover{
    transform: translateX(-10em);
    transition: linear;
}